/* Performance optimizations */
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  padding-top: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #c6dbad;
}

.container {
  margin-top: 50px;
}

/* Optimize image rendering */
img {
  max-width: 100%;
  height: auto;
}

.logo-img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.brand-logo {
  max-width: 200px;
  padding-right: 40px;
}

#newSearch {
  justify-content: center;
}

/* Media query optimization */
@media (min-width: 992px) {
  .navbar {
    padding-right: 40px;
    padding-left: 40px;
  }
}
